{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Chat Room</title>
</head>
<body>
    <h2>Chat Room arju: {{ room.name }}</h2>

    <div id="chat-log" style="border:1px solid #ccc; height:300px; overflow-y:auto; padding:10px; margin-bottom:10px;"></div>

    <input id="chat-message-input" type="text" size="80" placeholder="Type your message...">
    <button id="chat-message-submit">Send</button>

    <script>
        // Get room id from Django template
        const roomId = "{{ room.id }}";

        // Create WebSocket connection
        const protocol = window.location.protocol === "https:" ? "wss" : "ws";
        const chatSocket = new WebSocket(`${protocol}://${window.location.host}/ws/chat/${roomId}/`);

        // When connected
        chatSocket.onopen = function(e) {
            console.log("✅ WebSocket connected!");
        };

        // When message is received from server
        chatSocket.onmessage = function(e) {
            console.log("message received")
            const data = JSON.parse(e.data);
            console.log("data",data)
            const message = data.message;

            const log = document.getElementById("chat-log");
            log.innerHTML += `<div>${message}</div>`;
            log.scrollTop = log.scrollHeight;
        };

        // When connection closes
        chatSocket.onclose = function(e) {
            console.log("❌ WebSocket closed.");
        };

        // Send message to server
        document.getElementById("chat-message-submit").onclick = function() {
            const input = document.getElementById("chat-message-input");
            console.log("input message",input)
            const message = input.value;
            console.log("message",message)
            chatSocket.send(JSON.stringify({ "message": message }));
            console.log("json stringfy",JSON.stringify({"message":message}))
            input.value = "";
        };

        // Optional: Press Enter to send
        document.getElementById("chat-message-input").addEventListener("keypress", function(e) {
            if (e.key === "Enter") {
                document.getElementById("chat-message-submit").click();
            }
        });
   
    </script>
</body>
</html>
